<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Svirida</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="nav">
        <a href=""><span>Resume</span></a>
        <a href=""><span>Email</span></a>
        <a href="https://www.github.com/danzzilla" target="_blank">
            <img class="icon" src="images/website/github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/danielsvirida" target="_blank">
            <img class="icon" src="images/website/linkedin.png" alt="LinkedIn">
        </a>
    </div>
    <div id="canvas">

    </div>
    <div class="row">
        <div>
            <img class="profile" src="images/website/profile.jpg">
            <h3>Daniel Svirida</h3>
            Freelance Developer<br>
            Puyallup, WA
        </div>
        <div>
            <div class="row">
                <div>Java</div>
                <div>Flutter</div>
                <div>Spring</div>
                <div>SQL</div>
                <div>Google Cloud</div>
                <div>Git</div>
            </div>
            Github Commit History<br>
            <img src="http://ghchart.rshah.org/danzzilla" alt="Daniel's Github chart" />
        </div>
    </div>
    <div class="row">
        <div class="card">
            <img src="images/website/forestKnight.png">
            <div class="card-body">
                <div class="row">
                    <div>Forest Knight</div>
                    <div class="row">
                        <div>Java</div>
                    </div>
                </div>
                <div>
                    Knight RPG Game<br>
                    Multiplayer PVP<br>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="">
            <div class="card-body">
                <div class="row">
                    <div>This Website</div>
                    <div class="row">
                        <div>Javascript</div>
                        <div>Html</div>
                        <div>CSS</div>
                        <div>PHP</div>
                        <div>Fat-Free Framework</div>
                    </div>
                </div>
                <div>
                    Portfolio Site
                </div>
            </div>
        </div>
        <div class="card">
            <img src="">
            <div class="card-body">
                <div class="row">
                    <div>Mass Personal Mailer</div>
                    <div class="row">
                        <div>Javascript</div>
                        <div>Html</div>
                        <div>CSS</div>
                        <div>PHP</div>
                        <div>Fat-Free Framework</div>
                    </div>
                </div>
                <div>
                    Mass mailer that makes each email seem personal
                    to the specific client. Supports Multiple languages
                    with proper grammar and formatting.
                </div>
            </div>
        </div>
    </div>
</body>
<script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/"
        }
    }
</script>
<script type="module" src="scripts/hero.js"></script>
</html>