<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Svirida</title>
</head>
<body>
    <div class="container">
        <a href="">Resume</a>
        <a href="">Email</a>
        <a href="">Github</a>
        <a href="">LinkedIn</a>
    </div>
    <div class="container">

    </div>
    <div class="container">
        <img src="images/website/profile.jpg">
        <h3>Daniel Svirida</h3>
        Freelance Developer<br>
        Puyallup, WA
    </div>
    <div class="container">
        <div>Java</div>
        <div>Flutter</div>
        <div>Spring</div>
        <div>SQL</div>
        <div>Google Cloud</div>
        <div>Git</div>
    </div>
    <div>
        Github Commit History
    </div>
    <div class="container">
        <img src="">
        <div class="container">
            <div>
                <div>Forest Knight</div>
                <div>Java</div>
            </div>
            <div>
                Knight RPG Game<br>
                Multiplayer PVP<br>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="">
        <div class="container">
            <div>
                <div>This Website</div>
                <div>
                    <div>Javascript</div>
                    <div>Html</div>
                    <div>CSS</div>
                    <div>PHP</div>
                </div>
            </div>
            <div>
                Portfolio Site
            </div>
        </div>
    </div>
</body>
</html>