<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Svirida</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="nav">
        <div class="switches">
            <input type="checkbox" id="darkmode-toggle">
            <label for="darkmode-toggle"></label>
            <input type="checkbox" id="auto-toggle">
            <label for="auto-toggle"></label>
        </div>
        <a href=""><span>Resume</span></a>
        <a href=""><span>Email</span></a>
        <a href="https://www.github.com/danzzilla" target="_blank">
            <img class="icon" src="images/website/github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/danielsvirida" target="_blank">
            <img class="icon" src="images/website/linkedin.png" alt="LinkedIn">
        </a>
    </div>
    <div id="canvas"></div>
    <div class="row">
        <div>
            <img class="profile" src="images/website/profile.jpg">
            <h3>Daniel Svirida</h3>
            Freelance Developer<br>
            Puyallup, WA
        </div>
        <div>
            <div class="row">
                <div>Java</div>
                <div>Flutter</div>
                <div>Spring</div>
                <div>SQL</div>
                <div>Google Cloud</div>
                <div>Git</div>
            </div>
            Github Commit History<br>
            <img src="http://ghchart.rshah.org/danzzilla" alt="Daniel's Github chart" />
        </div>
    </div>
    <div>
        <input type="checkbox" id="section-toggle">
        <label for="section-toggle"> Experience Projects</label>
    </div>
    <div id="experience">
        <div>
            <b>Imachination</b> 2024 - Present<br>
            Full-Stack Web Developer <i>freelance</i>
            <ul>
                <li>Developed a multi-language email campaign system to aid with client relationship management by enabling the user to add unique, human-written messages to their most important clients within the campaign, improving client loyalty and satisfaction.</li>
                <li>Proposed and provided solutions to open issues by utilizing agile development methodology, resulting in an efficient and timely delivery.</li>
                <li>Integrated campaign system into client’s CMS by using common frameworks, libraries, and code written by previous developers, resulting in consistent code throughout the CMS and campaign system.</li>
                <li>Independently acquired proficiency of a new library within a few days to accelerate back-end development, contributing to a significant time savings in development.</li>
                <li>Responsible for providing accurate documentation for future developers and technical writing for end-users to know how to use the system.</li>
            </ul>
        </div>
        <div>
            <b>ReFitness</b> 2023<br>
            Full-Stack Web Developer
            <ul>
                <li>Developed a gym account and class check-in system to replace paper-based system, resulting in a 80% reduction in time spent on paperwork and documentation, and sped-up check-in time by 70%</li>
                <li>Held responsibility for back-end development, ensuring consistent and reliable flow of data between the user and the server.</li>
                <li>Collaborated with 3 other developers in an agile scrum team, dispersing work evenly and holding frequent meetings, delivering product on-time and efficiently.</li>
            </ul>
        </div>
    </div>
    <div class="row d-none" id="projects">
        <div class="card">
            <img src="images/website/forestKnight.png">
            <div class="card-body">
                <div class="row">
                    <div>Forest Knight</div>
                    <div class="row">
                        <div>Java</div>
                    </div>
                </div>
                <div>
                    Knight RPG Game<br>
                    Multiplayer PVP<br>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="">
            <div class="card-body">
                <div class="row">
                    <div>This Website</div>
                    <div class="row">
                        <div>Javascript</div>
                        <div>Html</div>
                        <div>CSS</div>
                        <div>PHP</div>
                        <div>Fat-Free Framework</div>
                    </div>
                </div>
                <div>
                    Portfolio Site
                </div>
            </div>
        </div>
        <div class="card">
            <img src="">
            <div class="card-body">
                <div class="row">
                    <div>Mass Personal Mailer</div>
                    <div class="row">
                        <div>Javascript</div>
                        <div>Html</div>
                        <div>CSS</div>
                        <div>PHP</div>
                        <div>Fat-Free Framework</div>
                    </div>
                </div>
                <div>
                    Mass mailer that makes each email seem personal
                    to the specific client. Supports Multiple languages
                    with proper grammar and formatting.
                </div>
            </div>
        </div>
    </div>
</body>
<script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/"
        }
    }
</script>
<script src="scripts/styles.js"></script>
<script type="module" src="scripts/hero.js"></script>
</html>