<include href="includes/header.html"></include>

<p id="nav-space"></p>
<include href="includes/nav.html"></include>

<div id="home-wrapper">
    <div id="welcome" class="align-self-center justify-content-center text-center">
        <img src="images/website/signature.png" height="125">
        <p class="h1">&lt;software-developer&gt;</p>
        <p class="h2 text-dark">//New Grad!</p>
    </div>
</div>

<div id="about" class="align-self-center justify-content-center text-center">
    <p class="h1">&lt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor efficitur nunc at lacinia. Suspendisse rutrum est at porttitor lacinia. Cras a lorem sed odio ultrices pulvinar quis ut purus. Donec dignissim pharetra magna, vitae vehicula elit eleifend ut. Donec eget orci ac risus scelerisque molestie. Morbi volutpat non lorem sagittis aliquam. Cras tempor tincidunt risus, et eleifend diam pretium a. Morbi bibendum sed nulla eget pretium.

        In elit tellus, fringilla et suscipit at, varius id sem. Suspendisse dolor nunc, aliquam id sapien non, tempus congue urna. Aliquam ligula lacus, auctor quis imperdiet vitae, egestas ut velit. Fusce ornare augue a tortor porta ultricies. Nullam egestas vel mauris non sollicitudin. Curabitur pretium, nibh sit amet pretium feugiat, augue nisl finibus nisl, at dictum ante lectus nec nisl. Maecenas ex justo, hendrerit ac urna a, congue commodo nisl. Sed a justo vitae augue ullamcorper tempor. Aliquam interdum sapien nunc, quis sagittis ligula viverra eu. Ut purus magna, mollis ac commodo quis, semper sit amet diam. Mauris vulputate eu purus at malesuada. Suspendisse ac lobortis nibh, ut semper mi. Curabitur mauris nulla, molestie id diam non, fringilla tristique mauris.

        Aenean ullamcorper non mi vel porta. Aliquam congue sapien sed lectus venenatis, at porttitor urna semper. Donec ultrices lacinia lectus, non rhoncus augue vestibulum sit amet. Sed pretium dui varius turpis vulputate semper. Proin eleifend lectus eu est auctor vulputate vel et augue. Curabitur magna lectus, mollis blandit maximus at, viverra nec urna. Vivamus mi nisl, venenatis id commodo eu, maximus facilisis neque. Donec porttitor nunc sed mauris egestas viverra. Vestibulum iaculis enim sed sapien pharetra volutpat tempor at libero. Donec finibus magna et ultricies aliquam. Maecenas porta felis mauris, eget vestibulum mi consectetur sit amet. Ut eu diam eget lorem facilisis scelerisque id vitae urna. Nullam in justo mi. Curabitur suscipit finibus urna non hendrerit.

        Duis porta nisl diam, molestie rutrum dui lacinia et. Nam rhoncus egestas velit a volutpat. Cras sed felis dui. Mauris euismod quis lectus id placerat. Integer in magna sapien. Donec felis arcu, sagittis non velit sagittis, semper laoreet nibh. Vestibulum nunc risus, scelerisque a felis eu, aliquet sagittis purus. Vestibulum fringilla felis sed congue pharetra. Cras dapibus nec ligula ac condimentum.

        Aliquam placerat lobortis feugiat. Mauris sed ante felis. Curabitur quis felis sed enim eleifend hendrerit. Nam convallis lacus varius mauris pulvinar interdum. Mauris consectetur, nisl at vulputate efficitur, risus ex rhoncus lectus, eget viverra purus magna ut felis. Sed pulvinar semper ligula, non placerat ligula ultricies in. Nunc blandit lorem eu pretium facilisis. Phasellus pellentesque pharetra orci eu aliquet. Praesent mattis, nibh nec luctus iaculis, sem justo malesuada sapien, ac cursus purus lectus laoreet nulla.&gt;</p>
    <p class="h2 text-dark">//New Grad!</p>
</div>


<include href="includes/footer.html"></include>