<include href="includes/header.html"></include>

<p id="nav-space"></p>
<include href="includes/nav.html"></include>

<div id="home-wrapper">
    <div id="welcome" class="align-self-center justify-content-center text-center">
        <img src="images/website/signature.png" height="125">
        <p class="h1">&lt;software-developer&gt;</p>
        <p class="h2 text-dark">//New Grad!</p>
    </div>
</div>

<div id="about" class="align-self-center justify-content-center text-center container">
    <div id="ar1" class="row text-dark">
        <div class="col-sm-6 col-lg-3">
            <img class="img-fluid mb-2" src="../images/website/quality.png" width="170" alt="Quality">
            <h3>Quality</h3>
            <div class="about-underline"></div>
            <p>Quality products that are free of bugs and are easy to maintain</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <img class="img-fluid mb-2" src="../images/website/functional.png" width="170" alt="Functional">
            <h3>Functional</h3>
            <div class="about-underline"></div>
            <p>Products function the way you want them to</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <img id="clean-img" class="img-fluid mb-2" src="../images/website/clean.png" width="170" alt="Clean">
            <h3>Clean</h3>
            <div class="about-underline"></div>
            <p>Code and files are clean, navigable, and understandable</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <img class="img-fluid mb-2" src="../images/website/fast.png" width="170" alt="Fast">
            <h3>Fast</h3>
            <div class="about-underline"></div>
            <p>Fast runtimes and lag free interaction</p>
        </div>
    </div>

    <div id="ar2" class="row">
        <div class="col-8">
            <img id="profile-img" class="img-fluid rounded" src="../images/website/profile.jpg" width="224" alt="Profile">
            <p>My name is Daniel, and I am a Software Developer in the Washington Puget Sound area.
                I have a passion for creating things and want to help you create any website or
                application you throw at me! <a href="#contact">Contact Me!</a></p>
        </div>
        <div class="col-4">
            <ul id="skills" class="text-dark">
                <li>Java</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>PHP</li>
                <li>Software Development</li>
                <li>Android</li>
                <li>Application Design</li>
                <li>Database Design</li>
                <li>Spring</li>
            </ul>
        </div>
    </div>
</div>

<div id="portfolio" class="align-self-center justify-content-center text-center">
    <div class="mycarousel container">
        <div class="mycarousel-container">
            <img class="mycarousel-item mycarousel-item-1" src="../images/carousel/musicapi.png" data-index="1">
            <img class="mycarousel-item mycarousel-item-2" src="../images/carousel/church.png" data-index="2">
            <img class="mycarousel-item mycarousel-item-3" src="../images/carousel/fitness.png" data-index="3">
            <img class="mycarousel-item mycarousel-item-4" src="../images/carousel/med.png" data-index="4">
            <img class="mycarousel-item mycarousel-item-5" src="../images/carousel/photos.png" data-index="5">
        </div>
        <div class="mycarousel-controls"></div>
    </div>
</div>

<div id="contact" class="align-self-center justify-content-center text-center">
    <form class="container text-light w-50">
        <h2>Contact</h2>
        <input id="name-input" class="form-control contact-form" name="name-input" type="text" placeholder="Name">

        <input id="email-input" class="form-control contact-form" name="email-input" type="text" placeholder="Email">

        <textarea id="message-input" class="form-control contact-form" name="message-input" type="text" placeholder="Message"></textarea>
    </form>
</div>

<include href="includes/footer.html"></include>