/* Styles across all pages */

/* Styles for navbar */

#nav-space{
    padding-top: 2.3rem;
    padding-bottom: 0rem;
}

#nav-wrapper{
    padding-top: 0rem;
    padding-bottom: 0rem;

    height: 5rem; /* 7 */
}

.navbar-nav{
    border-radius: 0.7rem;
    padding: 0 0 0 1rem;
}

#logo{
    border-radius: 1.5rem;
}

/* Styles for home page */

#home-wrapper{
    background-image: url(../images/website/main.jpg);
    background-size: cover;
    background-position: center;
    min-height: 950px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#welcome{
    margin-top: 21rem;
}

/*#about{*/
/*    margin-top: 55rem;*/
/*}*/

/* Styles for footer */

footer{
    padding-top: 2.3rem;
}