/* Styles across all pages */

/* Styles for navbar */

#nav-space{
    padding-top: 2.3rem;
    padding-bottom: 0rem;
}

#nav-wrapper{
    padding-top: 0rem;
}

/* Styles for home page */

#home-wrapper{
    background-image: url(../images/website/main.jpg);
    background-color: #1d2124;
    background-size: cover;
    background-position: center;
    min-height: 950px;
    height: auto;

    transition: background-image 0.5s;
}

#welcome{
    margin-top: 9rem;
}

/* Styles for footer */

footer{
    padding-top: 2.3rem;
}