/* Styles across all pages */
html{
    scroll-behavior: smooth;
}

a:link{
    color: #bac2c0;
}

a:visited{
    color: #a6b3ad;
}

/* Styles for navbar */

#nav-space{
    padding-top: 2.3rem;
    padding-bottom: 0rem;
}

#nav-wrapper{
    padding-top: 0rem;
    padding-bottom: 0rem;

    height: 5rem; /* 7 */
}

.navbar-nav{
    border-radius: 0.7rem;
    padding: 0 0 0 1rem;
}

#logo{
    border-radius: 1.5rem;
}

/* Styles for home page */

#danzzilla{
    background-image: url(../images/website/main.jpg);
    background-size: cover;
    background-position: center;
    min-height: 950px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#welcome{
    margin-top: 21rem;
}

#portfolio{
    width: 100%;
    /*margin-top: 4rem;*/
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #dcdee0;
}

.mycarousel{
    width: 100%;
}

.mycarousel-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.mycarousel-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 410px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.mycarousel-item-1{
    left: 15%;
    opacity: 0.6;
    transform: translateX(-50%);
}

.mycarousel-item-2, .mycarousel-item-4{
    height: 250px;
    opacity: 0.8;
    width: 511px;
    z-index: 1;
}

.mycarousel-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.mycarousel-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 614px;
    z-index: 2;
}

.mycarousel-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.mycarousel-item-5{
    left: 85%;
    opacity: 0.6;
    transform: translateX(-50%);
}

.mycarousel-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.mycarousel-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.mycarousel-controls-button:focus{
    outline: none;
}

.mycarousel-controls-previous{
    position: relative;
}

.mycarousel-controls-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.mycarousel-controls-previous:hover::before{
    left: -40px;
}

.mycarousel-controls-next{
    position: relative;
}

.mycarousel-controls-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.mycarousel-controls-next:hover::before{
    right: -40px;
}

.mycarousel-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.mycarousel-nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.mycarousel-nav li.mycarousel-item-selected{
    background: #555;
}

#about{
    padding: 5.5rem;
}

#ar1 img{
    background-color: #a6b3ad;
    padding: 1.5rem;
    border-radius: 2rem;
}

#ar1 #clean-img{
    padding: 2rem;
}

.about-underline{
    background-color: #27513f;
    width: 7rem;
    height: 0.5rem;
    border-radius: 1rem;

    margin: auto;
}

#ar1 p{
    margin-top: 1rem;
}

#ar2{
    margin-top: 2.5rem;
}

#profile-img{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#skills{
    list-style-type: none;
}

#skills li{
    margin: 0.9rem;
    background-color: #a6b3ad;
    border-radius: 1rem;

    font-weight: bold;
}
#contact{
    background-color: #021f14;
    padding: 5rem;
}

.contact-form{
    background-color: #dcdee0;
}

#message-input{
    height: 15rem;
}

/* Styles for footer */

footer{
    padding-top: 2.3rem;
    padding-bottom: 1rem;
    background-color: #01160e;
}